@import "tailwindcss";

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm
           focus:outline-none focus:ring-2 focus:ring-teal-600
           focus:border-teal-600 transition;
  }

  .label {
    @apply block text-sm font-medium text-gray-600 mb-1;
  }
}

body {
  html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
}